/* portfolio.js */
.layer2{
    background-image: url("../assets/wave-haikei3.svg");
}
.layer2.dark{
    background-image: url("../assets/wave-haikei3dark.svg");
}
.spacer2{
    /* aspect-ratio: 600/150;
    width: 100%; */
    height: 130px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.portfolio.dark{
    background-color: rgb(62, 61, 61);
}