.layer1{
    background-image: url("../assets/wave-haikei8.svg");
}
.layer1.dark{
    background-image: url("../assets/wave-haikei8dark.svg");
}
.reasons.dark{
    background-color: #2a2726;
}

.card.dark{
    background-color: #363332;
}